// Imports:
// Colors:
@import "utilities/colors";
// Navigation:
@import "utilities/navigation";
// Cover Layout:
@import "utilities/cover";
// Cookie Consent CSS:
@import "external/cookieconsent";

// Main
body, html {
    height: 100%;
    margin: 0;
}
body {
    background: $primary;
    color: $text;
}