// Colors:
// Colors Default/Light Mode
$primary: #eeeeee;
$text: #393E46;
$secondary: #222831;

// Colors Dark Mode
$primarydark: #393E46;
$textdark: #eeeeee;
$secondarydark: #222831;
$button: #00ADB5;